@import '../../styles/shared';

.project-item {
    margin: 4rem;
    width: 20rem;
    height: 10rem;
    background-color: $secondaryColor;
    text-align: right;
    position: relative;
    font-family: $dancingFont;
}

.project-item__title {
    font-size: 1.2rem;
    background-color: #e4e7eb;
    display: inline-block;
}

.project-item__percentage {
    @include flexCenter();
    top: -1rem;
    left: -1rem;
    width: 3rem;
    height: 3rem;
    background-color: green;
    color: white;
    border-radius: 50%;
    position: absolute;
}