/*
Colors
*/
$primaryColor: #009ee0;
$secondaryColor: #e0f0ff;
$greyColor: #868789;


/*
Fonts
*/
$dancingFont: 'Dancing Script', cursive;
$libreFont: 'Libre Franklin', sans-serif;
$mavenFont: 'Maven Pro', sans-serif;
/*
Layout
*/
$contentMaxWidth: 70.785rem;

/*
Functions
*/
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterDir($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}