/*
Colors
*/
$primaryColor: #009ee0;
$secondaryColor: #e0f0ff;
$greyColor: #e4e7eb;

/*
Fonts
*/
$dancingFont: 'Dancing Script', cursive;

/*
Layout
*/
$contentMaxWidth: 70.785rem;

/*
Functions
*/
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}