/*
Colors
*/
$primaryColor: #009ee0;
$lightPrimaryColor: #dff1fb;
$secondaryColor: #c7eaf8;
$greyColor: #868789;

/*
TransitionTimes
*/

$transMedium: 150ms;

/*
Fonts
*/
$coprIdentityFont: 'Helvetica', 'Arial', sans-serif;
$dancingFont: 'Dancing Script', cursive;
$libreFont: 'Libre Franklin', sans-serif;
$mavenFont: 'Maven Pro', sans-serif;
/*
Layout
*/
$contentMaxWidth: 70.785rem;
$leftRightSpace: 0.5rem;

/*
Functions
*/
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterDir($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}