@import '../../styles/shared';

main {
    @include flexCenter();
    width: 100%;
    // padding: 0 $leftRightSpace;
}

.main-content {
    width: 100%;
    height: 100%;
    @include flexCenter();
    flex-direction: column;
    overflow-anchor: none;
}

.main-content--wide {
    width: 100%;
}

@media (min-width: $contentMaxWidth) {
    .main-content {
        width: $contentMaxWidth;
    }
    .main-content--wide {
        width: 100%;
    }
}


