@import '../../../styles/shared';

.about-section {
    position: relative;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .left {
        h1 {
            font-family: $coprIdentityFont;
            font-size: 2.8rem;
            font-weight: 200;
        }
        h2 {
            font-family: $coprIdentityFont;
            font-style: italic;
            font-size: 1.6rem;
            font-weight: 300;
            color: $greyColor;
            padding-bottom: 1rem;
        }
    }
    .img-wrapper {
   	position: absolute;
	right: 0;
    top: 0;
	width: 10rem;
	img {
		width: 100%;
		display: block;
		transform: rotateZ(-12deg) translateX(-5rem) translateY(3rem);
		opacity: 0.22;
	}
    }
}

@media screen and (min-width: $contentMaxWidth) {
    .about-section {

    .img-wrapper {
        width: 15rem;
        top: -2.2rem;
    }}
}