@import '../../../styles/shared';

.about-section {
    position: relative;
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: rgb(110, 193, 174);
    .left {
        h1 {
            font-family: $dancingFont;
            font-size: 3rem;
            font-weight: 600;
        }
        h2 {
            font-family: $dancingFont;
            font-size: 2rem;
            font-weight: 500;
            color: $greyColor;
            padding-bottom: 1rem;
        }
    }
    .img-wrapper {
   	position: absolute;
	right: 0;
    top: 0;
	width: 10rem;
	img {
		width: 100%;
		display: block;
		transform: rotateZ(-12deg) translateX(-5rem) translateY(3rem);
		opacity: 0.22;
	}
    }
}