@import "../../../styles/shared";

.projects-section {
  @include flexCenter();
  position: relative;
  flex-direction: column;
  margin-top: 2.4rem;
  padding-top: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  // background-color: $primaryColor;
  width: 100%;
  .title {
    padding: 0.5rem 0 0.2rem 0;
    position: absolute;
    border-bottom: 2px solid $lightPrimaryColor;
    top: -0.0rem;
    background-color: white;
    font-weight: 400;
  }
}

@media (min-width: 32rem) {
  .projects-section {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $contentMaxWidth) {
  .projects-section {
     flex-direction: row;
  }
}