@import '../../../styles/shared';

.donatable {
    @include flexCenterDir(column);
    margin-bottom: 4rem;
    background-color: rgb(181, 208, 226);
    // border: 1px solid $greyColor;
    @include useShadows()
}

.donatable-upper-part {
    padding: 1rem;
    width: 100%;
    @include flexCenterDir(column);
    background-color: white;
}

.donatable-title-desc--wrapper {
    text-align: center;
    margin-top: 0.5rem;
}

.donatable-title {
    color: $primaryColor;
}

.donatable-photo--wrapper {
    width: 15rem;
    border-radius: 5px;
    img {
        width: 100%;
        border-radius: 5px;
        display: block;
    }
}

.donatable-bottom-part {
    color: white;
    background-color: $primaryColor;
    width: 100%;
}

.donatable-money-stats {
    @include flexCenterDir(column);
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    .donatable-earnedMoney {
        color: $greyColor;
        text-align: center;
    }
    .donatable-demandedMoney {
        color: $primaryColor;
        text-align: center;
    }
}

.donatable-show-donators--btn {
    margin-top: 0.2rem;
}

.donatable-donators--wrapper {
    background-color: $lightPrimaryColor;
    max-height: 0;
    overflow: hidden;
    transition: all 1000ms;
}

.donatable-donators--wrapper--show {
    max-height: 30rem;
}
.donate-btn-to-cart--disabled {
    cursor: not-allowed;
    background-color: $greyColor;
}

// Buttons - Donatable Options
.donate-btn-price {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid $primaryColor;
    cursor: pointer;
    font-size: 1.2rem;
}

.donate-btn-price-selected {
    background-color: $primaryColor;
    color: white;
    border: 1px solid white;
}

.donate-btn-price-not-selected {
    background-color: $primaryColor;
    color: white;
    border: 1px solid $primaryColor;
}

.donate-btn-to-cart {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid $primaryColor;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primaryColor;
    background-color: white;
    &:disabled {
        cursor: not-allowed;
        background-color: $lightPrimaryColor;
        color: $greyColor;
        border: 1px solid $greyColor;
    }
}

.donatable-choose-visibility--wrapper {
    background-color: white;
    max-height: 0rem;
    overflow: hidden;
    @include flexCenterDir(column);
    .donatable-choose-visibility-title {
        font-size: 1.2rem;
        color: $primaryColor;
    }
    transition: all 1000ms;
}
.donatable-choose-visibility--wrapper-show {
    max-height: 15rem;
}

.donatable-chci-sdelit-input {
    color: $primaryColor;
    text-align: center;
    font-size: 1.2rem;
    max-height: 0rem;
    width: 100%;
    outline: none;
    border: none;
    border-top: 1px solid $secondaryColor;
    padding: 0;
    display: block;
    transition: all 1000ms;
    &::placeholder {
        color: $primaryColor;
    }
}

.donatable-chci-sdelit-input-show {
    max-height: 10rem;
    padding: 0.2rem 0.4rem;
}

.donate-btn-to-cart--wrapper {
    width: 100%;
    background-color: $secondaryColor;
    @include flexCenter();
}


.donatable-input-custom-price {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    max-width: 8rem;
}

@media (min-width: $contentMaxWidth) {
    .donatable-upper-part {
        @include flexCenterDir(row);
        justify-content: space-between;
    }
    .donatable-title-desc--wrapper {
        // @include flexCenterDir(row)
        text-align: left;

        .donatable-title {
            padding: 0 1.5rem;
        }

        .donatable-desc {
            padding: 0 1.5rem;
            max-width: 100%;
        }

    }
}