@import '../../../styles/shared';

.land-pieces-donation-options-section {
    // position: fixed;
    // left: 50%;
    // top: 10vw;
    z-index: 1;
    background-color: white;
    padding: 1rem;
}

.land-pieces-donation-options--wrapper {
    @include useShadows();
}    

.land-pieces-donation-options--items {
    height: auto;
}

.land-pieces-input-custom-note {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 1rem;
    font-size: 1rem;
}


.land-pieces-btn-to-cart {
    background-color: $primaryColor;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    // margin-bottom: 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}