@import '../../../styles/shared';

.pozemek-selected-to-buy-section {
    position: fixed;
    right: 0;
    bottom: 20vh;
    width: auto;
    background-color: aqua;
    // height: 20rem;
    z-index: 1;
}

@media (min-width: $contentMaxWidth) {
    section.pozemek-selected-to-buy-section {
        width: auto;
        padding: 0;
      }
}