@import '../../../styles/shared';

.kup-si-cast-pozemku-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
}

.pozemek-webgl-section {
    background-color: grey;
    position: relative;
    padding: 0;
    height: 40rem;
    width: 100%;
    position: relative;
    border: 2px dashed black;
    transform: 300ms all;
}

canvas.pozemek-webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.canvas-land {
    // min-width: 80vw !important;
    min-height: 40h !important;
    max-height: 45vh !important;
    
}

.landPiece-donation-info--wrapper {
    top: 1rem;
    padding: 1rem;
    min-width: 15rem;
    width: auto;
    background-color: white;
    color: $primaryColor;
    @include useShadows();
    transition: 200ms all;
}

@media (min-width: $contentMaxWidth){
    .canvas-land {
        // min-width: 80vw !important;
        min-height: 60vh !important;
        max-height: 60vh !important;
        // @include useShadows();
    }
}