@import '../../../styles/shared';

.pozemek-webgl-section {
    background-color: grey;
    position: relative;
    padding: 0;
    height: 40rem;
    width: 100%;
    position: relative;
    border: 2px dashed black;
}

canvas.pozemek-webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.canvas-land {
    width: 80vw !important;
    min-height: 40vh !important;
}

.landPiece-donation-info--wrapper {
    position: absolute;
    left: 0;
    background-color: goldenrod;
}