@import '../../styles/shared';

footer {
    @include flexCenter();
    padding: 1rem 0;
    background-color: $secondaryColor;
}

.footer-content {
    @include flexCenter();
    width: 100%;
    background-color: $secondaryColor;
}

@media(min-width: $contentMaxWidth) {
    .footer-content {
        width: $contentMaxWidth;
    }
}