.App {
  min-height: 100vh;
}

.grid-container {
	justify-self: stretch;
  min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4em auto;
	grid-template-areas:
		'header'
		'main';
}
