@import './styles/shared';

.App {
  min-height: 100vh;
}

.grid-container {
	position: relative;
	justify-self: stretch;
    min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4em auto; // příjde 6em, až půjde sticky stylem jakým má
	grid-template-areas:
		'header'
		'main';
}