@import './styles/shared';

.App {
  min-height: 100vh;
}

.grid-container {
	position: relative;
	justify-self: stretch;
    min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4em auto; // příjde 6em, až půjde sticky stylem jakým má
	grid-template-areas:
		'header'
		'main';
}

.background {
	position: absolute;
	// margin-top: 2rem;
	left: 50%;	
	transform:translateX(-50%);
	// background-color: blue;
	min-height: 100%;
	width: 100%;
	z-index: -10;
	overflow: hidden;
}
.dia-logo-bg-up-wrapper {
	position: absolute;
	right: 0;
	width: 28rem;
	// position: absolute;
	img {
		width: 100%;
		display: block;
		transform: rotateZ(12deg) translateX(-6rem) translateY(3rem);
		opacity: 0.22;
	}
}

@media (min-width: $contentMaxWidth) {
	.background {
		width: $contentMaxWidth;
	}
}