@import './styles/shared';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: $coprIdentityFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
 @include flexCenterDir(column);
 padding: 0 $leftRightSpace;
 width: 100%;
}

canvas {
  width: 0;
  height: 0;
}

button[type=submit] {
  &:disabled {
    cursor: not-allowed;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
  -webkit-text-size-adjust: none;
  transition: background-color 5000s ease-in-out 0s;
}

.column {
  @include flexCenterDir(column)
}

.hidden {
  display: none !important;
}

/*
Base-Componenets 
*/

.bbutton {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $primaryColor;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  background-color: $primaryColor;
  transition: all $transMedium;
}

.bbutton-outline {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $primaryColor;
  cursor: pointer;
  font-size: 1.2rem;
  color: $primaryColor;
  background-color: white;
  transition: all $transMedium;
}

// Buttons - danger

.btn-danger-outline {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $wineCol;
  cursor: pointer;
  font-size: 1.2rem;
  color: $wineCol;
  background-color: transparent;
  transition: all $transMedium;
}

.btn-danger {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $primaryColor;
  cursor: pointer;
  font-size: 1.2rem;
  color: $wineCol;
  background-color: $wineCol;
  transition: all $transMedium;
}

.btn-warning {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $orangeCol;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  background-color: $orangeCol;
  transition: all $transMedium;
}

.btn-warning-outline {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid $orangeCol;
  cursor: pointer;
  font-size: 1.2rem;
  color: $orangeCol;
  background-color: transparent;
  transition: all $transMedium;
}

// Buttons sizes
.btn-small {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  margin: 0.4rem 0.8rem;
}

// Form Components

.form-title {
  position: absolute;
  padding: 0 0.2rem;
  top: -0.5rem;
  background-color: white;
  left: 0.5rem;
  color: $primaryColor;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.form-inputs--wrapper {
  // background-color: $primaryColor;
  max-width: 20rem;
  position: relative;
  border: 2px solid $secondaryColor;
  padding: 1rem;
  margin-bottom: 2rem;
  &:focus-within {
    border: 2px solid $primaryColor;
  }
  transition: all $transMedium;
}

.form-input--wrapper {
  @include flexCenterDir(column);
  align-items: flex-start;
  &:focus-within {
    .form-input-text-label {
      color: $primaryColor;
    }
  }

  .form-input-text-label {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8rem;
    color: rgba($color: $primaryColor, $alpha: 0.7);  
  }
  .form-input-text-error {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: $dangerCol;
  }
  .form-input-text {
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $lightPrimaryColor;
    margin-bottom: 0.5rem;
    &:focus {
      border-color: $primaryColor;
    }
    transition: all $transMedium;
  }
}

.input-text {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}


@media(min-width: $contentMaxWidth) {
  section {
    width: $contentMaxWidth;
  }
}